<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About Us</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" type="text/css" href="C:\Desktop1\Shwetha V\RiskHealthBoard_Project\static\style.css">
  
  <style>
nav {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(60, 63, 63);
}

.navbar-brand {
    font-size: 22px;
    color:aliceblue; 
}
.nav-link{
    font-size: 18px;
    color: aliceblue;
}
    </style>

</head>
<body>
    
  <header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="/home"><b>RISK HEALTH BOARD</b><br><div style="font-family:Georgia, 'Times New Roman', Times, serif;font-size:small  ;"><i>Be At a Ease Without a Disease</i></div></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div style="text-align: right;">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/" style="color:aliceblue">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/help">Help</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/signup">SignUp</a>
              </li>
            </ul>
          </div>
        </div>
        </div>
      </nav>
</header>
<div style="background-color: rgb(235, 230, 230);">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4" style="font-family: 'Times New Roman', Times, serif;">About RiskHealthBoard</h1>
      <p style="font-family: 'Times New Roman', Times, serif;text-align: justify;font-size: 18px;">Welcome to RishkHealthBoard!, The Health Prediction system which is an end user support and online risk assessment system for medical institutions to generate risk assessments for their patients.
        Here we propose a system that allows users to get instant guidance on their health issues through an intelligent health care system online.
        The system is fed with various symptoms and the disease/illness associated with those systems.
        The system allows user to share their symptoms and issues. It then processes user's symptoms to check for various illnesses that could be associated with it.<br> Click below for Help.
      </p>
      <p><a class="btn btn-primary btn-lg" href="/help" role="button">Help &raquo;</a></p>
    </div>
  </div>
</div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2 style="font-family: 'Times New Roman', Times, serif;">Admin</h2>
        <p style="font-family: 'Times New Roman', Times, serif;text-align: justify;font-size: 18px;">The Health Prediction Website provides instituitons with an Admin account to generate risk assessments for their patients.</p>
        <p><a class="btn btn-secondary" href="/login" role="button">Login &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2 style="font-family: 'Times New Roman', Times, serif;">How does it Work?</h2>
        <p style="font-family: 'Times New Roman', Times, serif;text-align: justify;font-size: 18px;">The Health Prediction System makes use of machine learning models that helps generate accurate risk assessments.</p>
        <p><a class="btn btn-secondary" href="/login" role="button">Generate Assessment &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2 style="font-family: 'Times New Roman', Times, serif;" >Terms & Conditions</h2>
        <p style="font-family: 'Times New Roman', Times, serif;text-align: justify;font-size: 18px;">For further more information and any concerns regarding the system please click below to read our Terms and Conditions.</p>
        <p><a class="btn btn-secondary" href="/terms" role="button">Terms & Conditions &raquo;</a></p>
      </div>
    </div>
    <hr>
  </div>

  <footer>
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <h6 style="font-family:'Times New Roman', Times, serif;color: aliceblue;">CONTACT US</h6>
            <p>Students of REVA University,<br>Bangalore Karnataka
              </p>
            </div>
  
            <div class="col-6 col-md-4">
              <h6 style="font-family:'Times New Roman', Times, serif;color: aliceblue;">Address</h6>
              <p class="fas fa-home me-3"></p> Bangalore, Karnataka<br>
              <p class="fas fa-phone me-3"></p> +91 9845632195<br>
              <p class="fas fa-envelope me-3"></p> riskhealthboard@gmail.com
              
              </div>
  
            
          <div class="col-6 col-md-3">
            <h6 style="font-family:'Times New Roman', Times, serif">Quick Links</h6>
            <ul class="footer-links">
            <li><a href="/" style="font-size: 18px;">Home</a></li>
            <li><a href="/about" style="font-size: 18px;">About Us</a></li>
            <li><a href="/dashboard" style="font-size: 18px;">DashBoard</a></li>
            <li><a href="/disindex" style="font-size: 18px;">Disease Information</a></li>
            <li><a href="/help" style="font-size: 18px;">Help</a></li>
            <li><a href="/tc" style="font-size: 18px;">Terms and Conditions</a></li>
            </ul>
          </div>
        </div>
        <hr class="small">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-12">
            <p class="copyright-text">Copyright © 2023 All Rights Reserved by
              Students of REVA University
            </p>
          </div>
  
          <div class="col-md-4 col-sm-6 col-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
     
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
    

</body>
</html>

  